*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;

}
.bennar{
    width: 100%;
    background: url(/images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    
}
.container{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
    
    color: white;
    text-align: center;
    
}
.container h1{
    font-weight: 500;
    font-size: 55px;
    padding: 6px 14px;
}
.container p{
    font-size: 15px;
}
button{
    
        display: inline-block;
        background-color:rgb(230, 33, 33) ;
        padding: 10px 20px;
        border-radius: 0.5rem;
        color: #fff;
      
}
.amount-section{
    align-items: center;
    border: 3px solid yellow;
}
.amount-container{
    text-align: center;
    padding: 50px;
    align-items: center;
}
.amount-container ul{
    justify-items: center;
}
.amounts ul{
    display: flex;
    margin: 15px;
    align-items: center;
    
    justify-content: center;
}

.amounts ul li{
    display: flex;
    margin: 15px;
    list-style: none;
    font-weight: 600;
    font-size: 30px;
    
    padding: 16px 18px 16px;
    
}
#select-box{
    border: 5px solid red;
    padding: 16px 18px 16px;
    background-color: rgb(255, 146, 134);
}
.parent {
    height: 200px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .child {
    background-color: #ed4b4b;
    width: 700px;
    height: 150px
    }